#chat-screen {
  height: 150vh;
}

#chat-screen .sub-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .sub-header {
  z-index: 2;
}

#chat-screen .status-bar {
  z-index: 3;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.chat__timestamp {
  padding: 10px 15px;
  /* height와 width으로 배경을 주는게 아니라 padding으로 준다 */
  border-radius: 20px;
  background-color: var(--strong-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.message-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.message-row__plus {
  padding-left: 75px;
}

.message-row img {
  border: solid 2px var(--strong);
  width: 60px;
  height: 60px;
  border-radius: 22px;
  margin-right: 10px;
}

.message__author {
  color: var(--strong);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  /* span요소여서 margin을 줄 수가 없으니 block처리한다 */
}

/* 상대방 메세지 */
.message__text {
  background-color: white;
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  border-top-left-radius: 0;
  color: black;
  box-shadow: -2px 4px rgb(218, 218, 218);
}

.message__contents {
  display: flex;
  align-items: flex-end;
}

.message__time {
  margin-left: 10px;
  font-size: 12px;
}

.message__count {
  margin-left: 10px;
  font-size: 12px;
  color: yellow;
}

/* 내가 보낸 메세지 */
.message-row--me {
  justify-content: flex-end;
}

.message-row--me .message__text {
  background-color: #76d1d4;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 2px 4px 0px rgb(218, 218, 218);
}

.message-row--me .message__contents {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--nav-gr);
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
  color: var(--strong-opacity);
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 12px;
  width: 100%;
  border-radius: 20px;
  border: solid 1px white;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -25px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 12px;
}

.reply__column button {
  background: linear-gradient(180deg, #76d1d4, #01888d);
  color: white;
  border-radius: 50%;
  border: none;
  width: 38px;
  height: 38px;
  margin-right: 25px;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply i {
  color: white;
}

.reply .fa-smile {
  color: #01888d;
}

.reply__column button i {
  opacity: 1;
}

input::placeholder {
  font-size: 15px;
  padding: 0px 10px;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 98vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
