.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(45deg, var(--strong), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons i {
  color: white;
  transition: transform 0.3s ease-in-out;
}

.screen-header__icons i:hover {
  transform: scale(1.2);
  color: var(--strong);
}
