.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.sub-header i {
  color: white;
}

.sub-header i:hover,
.sub-header i:active {
  color: var(--strong);
}

.sub-header__title {
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(45deg, var(--strong), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-header__column {
  width: 33%;
}

.sub-header__column:first-child {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}

.sub-header__column:nth-child(2) {
  text-align: center;
}

.sub-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.sub-header__column span:last-child {
  margin-left: 20px;
}
