.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.sub-header__title {
  font-size: 25px;
  font-weight: 600;
}

.sub-header__column:first-child {
  margin-right: auto;
}
.sub-header__column:last-child {
  margin-left: auto;
}
