.user-component {
  display: flex;
}

.user-component__column {
  display: flex;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 15px;
}

.user-component {
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__name {
  font-weight: 600;
  font-size: 22px;
}

.user-component__message {
  margin-top: 8px;
  font-size: 17px;
  color: var(--gray-color);
  display: flex;
}

.user-component__message div {
  width: 15px;
  height: 15px;
  border: solid tomato 2px;
  border-radius: 50%;
  color: tomato;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.user-component__avatar--lg {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-component__name--thin {
  font-weight: 400;
  font-size: 18px;
}

.user-component__column:last-child {
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__count {
  margin-right: 5px;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
